@import"../_variables";
@import"../_mixins";
@import"../_reset";

#all-new-items{
    .container-fluid{
        background-color: $site-bg;
        .container{
            @include flex-col;
            padding:40px 0;
            .breadcrumb{
                background-color: transparent;
                padding:0;

                li.breadcrumb-item{
                    @include roboto-15-400;
                    color:$breadcrumb;
                }
                
                .breadcrumb-item+.breadcrumb-item::before{
                    content:"-";
                    color:$breadcrumb;
                }
                
                li.breadcrumb-item.active{
                    color:$def-color;
                }
            }

            .sidebar, .adaptive-hide{
                @include flex-col;
                max-width: 270px;
        
                > div{
                    @include sidebar-div;
                }

                .sidebar-title{
                    @include sidebar-title;
                }

                .categories{

                    ul{
                        padding:25px 0;
                        li a{
                            @include flexible-sp-btw;
                            span{
                                @include roboto-15-400;
                                color:$def-color;
                                line-height: 34px;
                                &:last-child{
                                color:$pale-grey;
                                }
                            }
                        }
                    }
        
                    .fa-chevron-right{
                        font-size: 14px;
                        color:$green; 
                        margin-right:14px;
                    }
                }

                .price-range-slider{
                    padding:15px 0 50px;
                    .irs--flat{
                        .irs-max, .irs-min{
                            display:none;
                        }
                        .irs-line{
                            height:5px;
                        }
                        .irs-bar{
                            background-color:$price-range-bar;
                            height:5px;
                        }
                        .irs-handle {
                            top: 20px;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            border:4px solid $green;
                            background-color: $white-bg;
                            &>i:first-child{
                                background-color: $white-bg;
                            }
                        }
                        .irs-from, .irs-to, .irs-single {
                            color: $price-range-num;
                            @include roboto-15-400;
                            text-shadow: none;
                            padding: 1px 5px 1px 15px;
                            background-color: transparent;
                            border-radius: 0px;
                            top:40px;
                            
                            &:before{
                                content:"$";
                                bottom:20px;
                                left:10px;
                                overflow: visible;
                                border:0px;
                            }
                        }
                    } 
                }
                .btn-primary {
                    @include roboto-15-400;
                    font-weight:500;
                    line-height: 35px;
                    color: $white-text;
                    border-radius:0px;
                    height: 46px;
                    border:0px;
                    margin-bottom:10px;
                    width:100%;
                    
                    &.green{
                        background-color: $green;
                        
                    }

                    .fa-search{
                        font-size:15px;
                        margin-right:12px;
                    }
                }
                .items{
                    padding:30px 0 5px;
                    
                    .item{
                        background-color: $white-bg;
                        box-shadow: none;
                        margin-bottom: 30px;
                        max-width:208px;
                        max-height:255px;
                        position:relative;
                        border-bottom:1px solid $border-def;
                        &.bb-none{
                            border-bottom:none;
                        }
                        &:hover{
                            box-shadow: none;
                        }
    
                        .item-title{
                            font-size: 16px;
                        }
    
                        .item-text{
                            border:0;
                            padding:20px 0 10px;
                        }
    
                        .item-rating{
                            border:0;
                            padding:0;
                            margin-bottom:25px; 
                        }
                    }
                }
            }
            /* --/sidebar-- */
            .adaptive-hide{
                display:none;
            }

            .sort-by{
                @include flex-a-i-center;
                @include roboto-15-400;
                justify-content: space-between;
                margin-bottom:30px;
                background-color: $white-bg;
                border:1px solid $border-def;
                height:60px;
                padding:0 25px 0 20px;
                font-size:14px;
                color:$md-grey;
                
                .fa-sort-amount-down{
                    margin-right:8px;
                    color:$dark;
                }
                .fa-sort{
                    margin-left:12px;
                    color:$dark;
                }
                .fa-list{
                    margin-left:10px;
                    color:$dark;
                    &:hover{
                        color:$green;
                    }
                }
                .fa-th-large{
                    color:$dark;
                    &:hover{
                        color:$green;
                    }
                }
            }
            .nav{
                @include flexible-sp-btw;
                width:195px;
                .nav-item{
                    width:44px;
                    height:38px;
                    background-color:$white-bg;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size:16px;
                    color:$def-color;
                    text-align: center;
                    box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
                    &:active, :hover{
                        background-color:$red;
                        color:$white-text;
                        border-radius:0;
                    }
                }
            }
            .nav-tabs {
                border: 0;
            }

            .nav-tabs .nav-link {
                color:$def-color;
                border:0px;
            }

            .nav-tabs .nav-link.active {
                color: $white-text;
                background-color: $red;
                border-radius:0;
                width:44px;
                height:38px;
            }

            .wrap{
                @include flexible-sp-btw;
                flex-wrap: wrap;
                margin-bottom:30px;
            }

            .item{
                background-color: $white-bg;
                box-shadow: 0px 2px 7px -5px rgba(205,214,222,.75);
                margin-bottom: 30px;
                max-width:270px;
                max-height:336px;
                position:relative;
                &:hover{
                    box-shadow: 4px 13px 15px -5px rgba(205,214,222,.75);
                }
                .item-text {
                    padding: 20px 20px 16px;
                    border-bottom: 1px solid $border-lgt;
                    .item-title{
                        font-size: 16px;
                    }
                }
                .item-rating {
                    padding: 18px 20px 20px;
                }

                
            }
            
        }
    }
}

@media(max-width:1200px){
    

    #all-new-items .container-fluid .container .wrap {
        
        justify-content: center;
        
        .item{
            margin:7px;
        }
    }
}





@media(max-width: 800px){

    #all-new-items .container-fluid .container .wrap {
        
        @include flexible-sp-btw;
        
        .item{
            margin:0px;
            width:200px;
            .item-text{
                flex-direction: column;
            }
            .item-rating{
                margin-bottom:20px;
            }
        }
    }
}


@media(max-width:425px){
    #all-new-items .container-fluid .container .wrap {
        justify-content: center;
        .item{
            margin:0px;
            width:270px;
            margin-bottom:20px;
            .item-text{
                flex-direction: row;
            }
        }
    }

    #all-new-items .container-fluid .container .sidebar {
        /* margin: auto; */
        display:none;
    }
    #all-new-items .container-fluid .container .adaptive-hide {
        margin: auto;
        display:block;
    }

    #all-new-items .container-fluid .container .nav-tabs {
        margin: auto;
        margin-bottom:30px;
    }

    #all-new-items .container-fluid .container .row{
        flex-direction: column;
    }
    
}