@import"../_variables";
@import"../_mixins";
@import"../_reset";


.dropdown{ 

    &.dropdown-history{

        span{
            display:block;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color:$lgt-black;
        }
        
        span:last-child{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color:$green;
        }
        
        button{
            @include flex-a-i-center;
            padding:0;
            background-color: $white-bg;
            border-color: $white;
            margin-right: 20px;
            &.btn{
                min-width:160px;
                min-height:36px;
                outline:none;
            }
        }
        
        .dropdown-toggle::after{
            display:none;
        }
        
        .user-data{
            text-align: left;
            margin:0 25px 0 15px;
        
            .fa-chevron-down{
                margin-left:20px;
                font-size:14px;
                color:$md-grey;
                vertical-align: text-bottom;
            }
        }
        
        .dropdown-menu{
            padding:20px 0 30px;
            &.show{
                border:1px solid $border-def;
                border-radius:0;
                @include roboto-15-400;
                font-size: 12px;
                color:$blue;
                width:160px;
        
                .dropdown-item{
                    line-height: 33px;
                    padding:0 35px 0 18px;
                    color:inherit;
                    &:active {
                        color: inherit;
                        text-decoration: none;
                        background-color: inherit;
                    }
                    &:hover {
                        color: inherit;
                        text-decoration: none;
                        background-color: inherit;
                    }
                    .fa-chevron-right{
                        font-size: 12px;
                        color:$green;
                        margin-right:10px;
                    }
                }
               
            }
        }
    }

    &.dropdown-product-price{
                       
        .btn{
            outline:none;
            width:82px;
            height:27px;
        }
        
        .btn-secondary, .dropdown-item{
            color:$lgt-grey;
            @include roboto-15-400;
            font-size:13px; 
            background-color:$white-bg;
            border:1px solid $border-def;
            border-radius:0;
            padding: 0 .75rem;
        }

        .dropdown-menu{
            min-width:82px;
            &.show{
                border-radius:0;
                border:1px solid $border-def;
                width:82px;
                padding:0;
                .dropdown-item{
                    padding: .375rem .75rem;
                    border:none;

                }
            }
        }

        .dropdown-toggle::after{
            display:inline-block;
            color:$green;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, 
        .show>.btn-secondary.dropdown-toggle {
            color: $lgt-grey;
            background-color: $white-bg;
            border-color: $border-def;
        }
    }

    &.dropdown-sort{
        display:inline-block;

        .btn-secondary, .dropdown-item{
            @include roboto-15-400;
            font-size:14px;
            color:$md-grey; 
            background-color:$white-bg;
            border:1px solid $border-def;
            border-radius:0;
            padding: 0 .75rem;
        }

        .btn-secondary{
            border:none;
            line-height: 14px;
        }

        .dropdown-toggle::after{
            display:none;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, 
        .show>.btn-secondary.dropdown-toggle {
            color: $md-grey;
            background-color: $white-bg;
            border-color: $border-def;
        }

        .dropdown-menu{
            
            &.show{
                border-radius:0;
                border:1px solid $border-def;
                
                padding:20px 0 20px 5px;
                .dropdown-item{
                    padding: .375rem .75rem;
                    border:none;

                    .fa-chevron-right{
                        color:$green;
                        font-size:14px;
                        margin-right:10px;
                    }
                }
            }
        }
    }
} 

@media(max-width: 768px){
    
    .dropdown.dropdown-history .dropdown-menu.show{
        transform: translate3d(10px, 71px, 0px) !important;
    }
}
@media(max-width: 425px){
    
    .dropdown.dropdown-history .dropdown-menu.show{
        transform: translate3d(10px,44px,0)!important; 
    }
}