@import"../_variables";
@import"../_mixins";
@import"../_reset";


.dropdown{ 

    &.dropdown-history{

        span{
            display:block;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color:$lgt-black;
        }
        
        span:last-child{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color:$green;
        }
        
        button{
            @include flex-a-i-center;
            padding:0;
            background-color: $white-bg;
            border-color: $white;
            margin-right: 20px;
            &.btn{
                min-width:160px;
                min-height:36px;
                outline:none;
            }
        }
        
        .dropdown-toggle::after{
            display:none;
        }
        
        .user-data{
            text-align: left;
            margin:0 25px 0 15px;
        
            .fa-chevron-down{
                margin-left:20px;
                font-size:14px;
                color:$md-grey;
                vertical-align: text-bottom;
            }
        }
        
        .dropdown-menu{
            padding:20px 0 30px;
            &.show{
                border:1px solid $border-def;
                border-radius:0;
                @include roboto-15-400;
                font-size: 12px;
                color:$blue;
                width:160px;
        
                .dropdown-item{
                    line-height: 33px;
                    padding:0 35px 0 18px;
                    color:inherit;
                    &:active {
                        color: inherit;
                        text-decoration: none;
                        background-color: inherit;
                    }
                    &:hover {
                        color: inherit;
                        text-decoration: none;
                        background-color: inherit;
                    }
                    .fa-chevron-right{
                        font-size: 12px;
                        color:$green;
                        margin-right:10px;
                    }
                }
               
            }
        }
    }

    &.dropdown-product-price{
                       
        .btn{
            outline:none;
            width:82px;
            height:27px;
        }
        
        .btn-secondary, .dropdown-item{
            color:$lgt-grey;
            @include roboto-15-400;
            font-size:13px; 
            background-color:$white-bg;
            border:1px solid $border-def;
            border-radius:0;
            padding: 0 .75rem;
        }

        .dropdown-menu{
            min-width:82px;
            &.show{
                border-radius:0;
                border:1px solid $border-def;
                width:82px;
                padding:0;
                .dropdown-item{
                    padding: .375rem .75rem;
                    border:none;

                }
            }
        }

        .dropdown-toggle::after{
            display:inline-block;
            color:$green;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, 
        .show>.btn-secondary.dropdown-toggle {
            color: $lgt-grey;
            background-color: $white-bg;
            border-color: $border-def;
        }
    }

    &.dropdown-sort{
        display:inline-block;

        .btn-secondary, .dropdown-item{
            @include roboto-15-400;
            font-size:14px;
            color:$md-grey; 
            background-color:$white-bg;
            border:1px solid $border-def;
            border-radius:0;
            padding: 0 .75rem;
        }

        .btn-secondary{
            border:none;
            line-height: 14px;
        }

        .dropdown-toggle::after{
            display:none;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, 
        .show>.btn-secondary.dropdown-toggle {
            color: $md-grey;
            background-color: $white-bg;
            border-color: $border-def;
        }

        .dropdown-menu{
            
            &.show{
                border-radius:0;
                border:1px solid $border-def;
                
                padding:20px 0 20px 5px;
                .dropdown-item{
                    padding: .375rem .75rem;
                    border:none;

                    .fa-chevron-right{
                        color:$green;
                        font-size:14px;
                        margin-right:10px;
                    }
                }
            }
        }
    }
} 

/*dropdown cart*/
.basket {
    .dropdown {
        font-family: 'Roboto', sans-serif;
        .btn {
            .shop-cart {
                .fa-shopping-cart:hover {
                    color: $def-color;
                    &:active {
                        color: $def-color;
                    }
                }
            }
            .email {
                .fa-envelope:hover {
                    color: $def-color;
                    &:active {
                        color: $def-color;
                    }
                }
            }

        }
        .dropdown-menu {
            border-radius: 0;
            width: 269px;
            padding: 0px;
            margin: 0px;
            border: 1px solid $dropdown-border;
            
            
            .dropdown-item {
                padding: 0px;
                display: flex;
                border-bottom: 1px solid $dropdown-border;
                padding: 19px 17px 23px 17px;
                .dropdown-img {
                    width: 73px;
                    height: 58px;
                    background-color: $circle-bg;
                    margin-right: 15px;
                }
                .dropdown-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    line-height: 58px;
                    span:nth-child(1){
                        font-size: 15px;
                        color: $def-color;
                        line-height: 15px;
                        padding-bottom: 7px;
                        font-weight: 500;
                    }
                    span:nth-child(2){
                        font-size: 12px;
                        color: $dropdown-text;
                        line-height: 12px;
                        padding-bottom: 10px;
                        font-weight: 500;
                    }
                    span:nth-child(3){
                        font-size: 16px;
                        color: $black;
                        line-height: 16px;
                        font-weight: 500;
                    }
                }
                .dropdown-bottom {
                    .dropdown-text {
                        width: 235px;
                        display: flex;
                        justify-content: space-between;
                        padding-left: 12px;
                        padding-right: 23px;
                        line-height: 16px;
                        margin-bottom: 18px;
                        
                        span {
                            font-size: 16px;
                            font-weight: bold;
                            color: $def-color;

                        }

                    }
                    .dropdown-buttons {
                        font-weight: bold;
                        line-height: 35px;
                        display: flex;
                        justify-content: space-between;
                        .dropdown-cart {
                            width: 105px;
                            height: 35px;
                            font-size: 14px;
                            color: $site-bg;
                            background-color: $dropdown-btn-green;
                            text-align: center;
                            padding: 0px 23px 0px 18px;
                            font-weight: bold;

                        }
                        .dropdown-checkout {
                            width: 123px;
                            height: 35px;
                            font-size: 14px;
                            text-align: center;
                            color: $site-bg;
                            padding: 0px 14px 0px 12px;
                            background-color: $dropdown-btn-red;
                            font-weight: bold;


                        }
                    }
                }
                &:last-child {
                    padding: 19px 16px 12px;

                }
            }
        }
        .btn {
            border: 0;
            padding: 0px;
            
            }
            .dropdown-toggle:after {
                border: 0;
                content: "";
                display: none;
                margin: 0;

            }
        }
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background-color: $white;
    }

    .dropdown-menu.show {
        top: 2px;
    }

 /*Dropdown Mail*/
 .basket .dropdown .dropdown-menu .dropdown-item.mail-notification {
    justify-content: space-between;
    padding: 18px 29px 20px 21px;
    &:last-child {
        padding: 18px 29px 30px 21px;
    }
    .fa-envelope {
        font-size: 16px;
        color: $breadcrumb;
        align-self: flex-start;
        display: flex;
        padding-top: 5px;
    }
    .fa-reply {
        font-size: 16px;
        color: $breadcrumb;
        align-self: flex-start;
        display: flex;
        padding-top: 5px;
    }
    &:first-child {
        .fa-envelope {
            color: $orange;
        }
    }
 .dropdown-round-img {
     background-color: $circle-bg;
     border-radius: 50%;
     height: 48px;
     width: 48px;
     border: 1px solid $circle-border;
     margin-right: 20px;
    }
    .dropdown-mail-text {
        display: flex;
        flex-direction: column;
        width: 132px;
        padding-top: 6px;
        span:nth-child(1) {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 12px;
            color: $def-color;
            line-height: 10px;
            padding-bottom: 8px;
        }
        span:nth-child(2) {
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 11px;
            color: $dropdown-text;
            line-height: 9px;
            padding-bottom: 8px;

        }
        span:nth-child(3) {
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 10px;
            color: $md-grey;
            line-height: 10px;

        }
        
    }
    &:last-child {
        .dropdown-mail-text {
            span:nth-child(3){
                color: $pale-grey;
            }
        }
    }
}

 /*/Dropdown Mail*/
