@import"../_variables";
@import"../_mixins";
@import"../_reset";

.container {
    @include flexible-sp-btw ();
    @include container ();
    padding: 27px 0;
    line-height: 40px;
    .section_registr {
        @include flexible ();
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        span {
            color: $red;
            span {
                color: $blue;
            }
        }
    }
}

.header {
    background-color: $white;
}

.button {
    @include button;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
}

.btn_login {
    background-color: $green;
    margin-right: 7px;
}
.btn_reg {
    background-color: $red;
}

.header_basket {
    max-width: 40px;
    max-height: 42px;
    position: relative;
    margin: 8px 21px 0px 27px;
    .sh_cart {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background-color: #f5f5f5;
        .fa-shopping-cart {
            position: absolute;
            text-align: center;
            left: 23%;
            top: 23%;
            color: #a0a0a0;
        }
    }
}

.number_cart {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: $white;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
}


@media(max-width:1180px){
    .container {
     padding: 27px 20px;
    }
 }

 @media(max-width: 800px){
     .container {
        padding-bottom: 0px;
        img {
            vertical-align: bottom;
        }
        .section_registr {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap-reverse;
            max-width: 250px;
            .header_text {
                font-size: 10px;
            }
        }
     }
 }

 @media(max-width: 360px){
     .header_basket{
         display: none;
     }

     .header_text {
        line-height: 14px;
        max-width: 90px;
        text-align: right;
     }

     .header_text span:last-child {
         display: block;
     }
 }

 @media(max-width: 270px){
     .container {
         flex-direction: column;
         padding: 27px 20px 0px;
     .section_registr {
         max-width: 170px;
     .header_text {
         line-height: 14px;
         max-width: 90px;
         text-align: right;
         span {
             span {
                 display: block;
             }
         }
        }
     .header_basket {
        display: none;
    }
}
}
 }




