@import"../_variables";
@import"../_mixins";
@import"../_reset";

#header{
    background-color: $white;

    .container {
        @include flexible-sp-btw ();
        @include container ();
        min-height:92px;
        align-items: center;
        line-height: 40px;
    
        .section-registr {
            @include flexible ();
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            line-height: 50px;
            align-items: center;

            .header-text span:first-child {
                color: $red;
            }

            .header-text span{
                color:$blue;
            }  
            
            .header-simbols{
                display:flex;
                align-items:center;

                .header-basket {
                    max-width: 40px;
                    max-height: 42px;
                    position: relative;
                    margin: 8px 21px 0px 27px;
                    .sh-cart {
                        border-radius: 50%;
                        width: 34px;
                        height: 34px;
                        background-color: #f5f5f5;
                        .fa-shopping-cart {
                            position: absolute;
                            text-align: center;
                            left: 23%;
                            top: 23%;
                            color: #a0a0a0;
                        }
                    }

                    .number-cart {
                        font-family: 'Open Sans', sans-serif;
                        font-weight:600;
                        font-size: 11px;
                        color: $white;
                        background-color: $red;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        right: 0;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                        line-height: 17px;
                    }
                }
    
                .header-buttons{
                    .btn{
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;  
                        line-height: 16px;
                        width:72px;
                        height:30px;
                    }

                    .btn-login{
                        background-color: $green; 
                        border: 1px solid $green;
                        margin-right:5px;
                    }

                    .btn-reg{
                        background-color: $red;
                        border: 1px solid $red;
                    }
                }  
            }   
        }
    }
}

@media(max-width: 800px){
    .container {
        flex-direction: column;
        padding: 27px 20px;

        .section-registr {
            flex-direction: column;

            .header-text {
                line-height: 14px;
                text-align: center;
                padding:20px 0;

                span:first-child {
                    display: block;
                    margin-bottom:15px;
                }
            } 

            .header-basket{
                margin:8px 21px 0 0;
            }
        }
    }
}

@media(max-width: 450px){
    .header-text{
        
        >span{
            margin-bottom:15px;
            font-size:18px;
        }
        
        span:last-child {
            margin-bottom:0;
        } 
    } 
}   
