@import"../_variables";
@import"../_mixins";
@import"../_reset";

.container {
    @include flexible-sp-btw ();
    @include container ();
    padding: 25px 0;
    .section_registr {
        @include flexible ();
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        align-items: center;
        flex-wrap: nowrap;
        .header_simbols {
            display:flex;
        }
        .header_text {
            font-weight: bold;
        }
    }
}

.header {
    background-color: $white;
}

.button {
    @include button;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
    display: inline-block;    
}

.btn_login {
    background-color: $green;
    margin-right: 7px;
    border: 1px solid $green;
}
.btn_reg {
    background-color: $red;
    border: 1px solid $red;
}

.header_basket {
    width: 40px;
    height: 42px;
    position: relative;
    margin: 0px 21px 0px 27px;
    .sh_cart {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background-color: #f5f5f5;
        .fa-shopping-cart {
            position: absolute;
            text-align: center;
            left: 23%;
            top: 23%;
            color: #a0a0a0;
        }
    }
}

.sh_cart::after {
    content: "8";
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: $white;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;

}

.btn {
    font-weight: normal;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $green;
    border-color: $green;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}



.btn-primary:hover {
    background-color: $green;
    border-color: $green;
}

@media(max-width:1180px){
    .container {
     padding: 27px 20px;
    }
 }

 @media(max-width: 768px){
     .container {
        padding-bottom: 5px;
        img {
            vertical-align: bottom;
        }
        .section_registr {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .header_text {
                font-size: 13px;
            }
            .header_basket {
                margin: 0 20px 0 20px;
            }
            .header_simbols {
                .button {
                    width: 110px;
                }
                .btn_login {
                    margin-right: 20px;
                }
            }
        }
     }
 }

 @media(max-width: 425px){
     .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
        .section_registr {
            flex-direction: column-reverse;
            margin-top: 10px;
            .header_simbols {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .button {
                    width: 200px;
                }
                .btn_login {
                    margin-right: 20px;
                }
            }
            .header_basket {
                position: absolute;
                top: 30px;
                right: 0px;
            }
            .header_text {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                span {
                    margin-bottom: 0px;
                    font-size: 18px;
                }
                
                span:nth-child(1) {
                    margin-bottom: 0px;
                }

            }
            
        }
     }
}





