@import"../_variables";
@import"../_mixins";
@import"../_reset";

.involved{
    width:100%;
    background-color: $light-grey;
    padding: 125px 0 110px;
    margin-bottom: 120px;
}
.involved-btn{
    @include default-title ();
    display: inline-block;
    cursor: pointer;
    background-color: $white;
    padding: 22px 41px;
    min-width: 225px;
    height: 65px;
    font-size: 18px;
    color: $def-color;
    margin: 30px;
    white-space: nowrap;
}
.greyWindow{
    @include flexible ();
    margin: auto;    
    max-width: 1107px;
    min-height: 440px;
    background-color: $grey;
    box-shadow: 14px 9px 25px #d3d3d3;
}
.greenWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 655px;
    min-height: 215px;
    margin: auto;
    background-color: $green;
    color: $white; 
}
.involved-title{
    @include default-title ();
    font-size: 30px;
    color: $white;
    margin-right: 50px;
    font-weight: 200;
}
@media(max-width:690px){
    .greenWindow{
        min-width: 600px;
        flex-direction: column-reverse;        
        
    }
    .involved-title{
        margin-bottom: 25px;
        margin-right: 0;
    }
}
@media(max-width:600px) {
    .greenWindow{
        min-width: 500px;        
    }
    .involved-title{
        font-size: 25px;
    }
}
@media(max-width:500px) {
    .greenWindow{
        min-width: 400px;        
    }

}
@media(max-width:400px) {
    .greenWindow{
        min-width: 300px;        
    }
}