@import"../_variables";
@import"../_mixins";
@import"../_reset";


.middle-section.container-full{
    padding:100px 0 120px;
    display:flex;
    flex-direction: column;

    div.breadcrumb{
        width: 100%;
        display:flex;
        padding:0;
        position:absolute;
        top:-65px;
    }
    
    .breadcrumb{
        background-color: transparent;
        border-radius:0;
    
        ol.breadcrumb{
            padding:12px 16px 12px 0;
        
            li.breadcrumb-item{
                font-family: 'Roboto', sans-serif;
                font-size:15px;
                color:$breadcrumb;
            }
            
            .breadcrumb-item+.breadcrumb-item::before{
                content:"-";
                color:$breadcrumb;
            }
            
            li.breadcrumb-item.active{
                color:$def-color;
            }
        }
    }

    .container-md{
        max-width: 1200px;
        margin:auto;
        display:flex;
        padding:0 15px;
        flex:1 0 100%;
    
        .product-details{
            display:flex;
            flex: 0 1 75%;
            flex-direction: column;
            max-width: 870px;
            position: relative;
    
            .product-details-card .card{
                width: 100%;
                border: none;
                background-color: inherit;
    
                .img-thumbnail{
                    border-radius: 0;
                    padding:18px 19px 16px;
                    border: 1px solid $border-img;
                    margin-bottom:40px;
                }
    
                .card-body{
                    padding:0;
    
                    .card-title{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 40px;
                        color:$def-color;
                        margin-bottom:30px;
                    }
    
                    .card-text{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color:$md-grey;
                        margin-bottom:45px;
                        max-width:850px;
                    }
    
                    .buttons{
                        display:flex;
                        justify-content: space-between;
                        margin-bottom:55px;
    
                        .more-buttons{
                            display:flex;
    
                            .butn-card{
                                font-family: 'Roboto', sans-serif;
                                font-weight:500;
                                font-size: 16px;
                                line-height: 50px;
                                text-transform: capitalize;
                                color:$white;
                                display: inline-block;
                                cursor: pointer;
                                padding: 0px 25px;
                                height: 50px;
                            }
    
                            a.butn-card:hover{
                                color:$white;
                            }
                            
                            .butn-card.red{
                                background-color: $red;
                            }
                            
                            .butn-card.dark{
                                background-color:$dark;
                            }
                            
                            .butn-card.green{
                                background-color: $green;
                            }
                            
                            .butn-card + .butn-card{
                                margin-left:18px;
                            }
                        }
    
                        .social-buttons{
                            display:flex;
    
                            .butn-social{
                                min-width: 54px;
                                min-height:50px;
                                padding:0;
                            }
                            
                            .butn-social + .butn-social{
                                margin-left:3px;
                            }
                            
                            .butn-social i{
                                font-size: 18px;
                                line-height: 50px;
                                color:$white;
                            }
                            
                            .fb{
                                background-color: $fb;
                            }
                            
                            .twit{
                                background-color: $twit;
                            }
                            
                            .ln{
                                background-color: $ln;
                            }
                            
                            .pint{
                                background-color: $pint;
                            }
                        }
                    }
                }
            }
    
    
            .product-details-tabs, .product-details-tabs-buttons ul{
                width: 100%;
                display:flex;
    
                .product-details-tabs-buttons ul li{
                    display: inline-flex;
                    text-align: center;
                    width:25%;
                    justify-content: center;
                    margin-left:0px;
                    white-space: nowrap;
    
                    .product-details-butn{
                        text-transform: capitalize;
                        font-family: 'Roboto',sans-serif;
                        color: $lgt-grey;
                        font-weight: 400;
                        font-size: 16px;
                        text-align: center;
                        display: inline-block;
                        cursor: pointer;
                        line-height: 60px;
                        background-color: $white-bg;
                        min-width: 100%;
                        height: 60px;
                        border-bottom:1px solid $border-def;
                        border-right:1px solid $border-def;
                    } 
                }
    
                .product-details-tabs-buttons ul li.ui-state-active{
                    .product-details-butn{
                        color: $def-color;
                        font-weight: 500;
                        border-bottom:3px solid $green;
                    }
                }
            } 
    
            .product-details-tabs{
                flex-direction: column;
                border:1px solid $border-def;
                border-right:none;
                margin-bottom:53px;
            }
    
            .product-details-tabs-items {
                background-color: $white-bg;
                border-right:1px solid $border-def;
                padding-top: 25px;
                display: flex;
                flex-wrap: wrap;
                height:262px;
    
                .wrap ul{
                    display: flex;
                    flex-direction: column; 
                    flex-wrap: wrap;
                    height: 200px;
                    white-space: wrap;
            
    
                    .fa-chevron-right{
                        font-size: 16px;
                        line-height: 36px;
                        color:$green;
                        margin-right:15px;
                    }
        
                    li{
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        line-height: 36px;
                        color: $md-grey;
                        width:100%;
                        max-width: 290px;
                        white-space: wrap;
                        margin:0 15px 0 35px;
                    }
                } 
            }
        }
    
        .sidebar{
            margin-left:30px;
            display:flex;
            flex-direction: column;
            max-width: 270px;
    
            > div{
                margin-bottom:30px;
            }

            .sidebar-title{
                text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
                font-weight:700;
                font-size: 20px;
                color:$def-color;
                padding:0 0 20px;
                border-bottom:1px solid $border-def;
                width:100%;
            }
    
            .sales{
                background-color: $white-bg;;
                border:1px solid $border-def;
                display:flex;
                align-items: baseline;
                height:64px;
                padding:16px 30px;
    
                .fas{
                    font-size: 20px;
                    color:$sales; 
                }
    
                .quantity{
                    font-family:'Roboto', sans-serif;
                    font-weight:700;
                    font-size:20px;
                    color:$def-color;
                    margin-left:22px;
                }
    
                .sales-text{
                    font-family:'Roboto', sans-serif;
                    font-weight:300;
                    font-size:16px;
                    color:$md-grey;
                    margin-left:12px;
                }
            }
    
            .product-information{
                background-color: $white-bg;
                border:1px solid $border-def;
                display:flex;
                flex-direction: column;
                padding:20px 30px;
    
                .product-information-text{
                    padding:20px 0 0;
    
                    .text{
                        margin-bottom:15px;
                        .start{
                            font-family: 'Roboto', sans-serif;
                            font-weight:500;
                            font-size:14px;
                            color:$def-color;
                        }
                        .finish{
                            font-family: 'Roboto', sans-serif;
                            font-weight:400;
                            font-size:14px;
                            color:$lgt-grey;
                        }
                    }
                }
            }
    
            .product-author{
                background-color: $white-bg;
                border:1px solid $border-def;
                display:flex;
                flex-direction: column;
                padding:20px 30px;
                
                .product-author-card{
                    padding:25px 0 0;
                    display:flex;
                    margin-bottom:20px;
    
                    .product-author-text{
                        margin-left:15px;
                        display:flex;
                        flex-direction: column;
                        
                        .product-author-subtitle{
                            text-transform: capitalize;
                            font-family: 'Roboto', sans-serif;
                            font-weight:400;
                            font-size: 18px;
                            color:$def-color;
                            margin-bottom:10px;
                        }
    
                        .product-author-butn{
                            border:1px solid $border-def;
                            text-transform: capitalize;
                            font-family: 'Roboto', sans-serif;
                            font-weight:400;
                            font-size: 13px;
                            color:$md-grey;
                            height:28px;
                            width:92px;
                            padding:0 10px;
                            line-height: 26px;
                        }
                    }
                }
    
                .product-author-sprite{
                    display:flex;
                    justify-content: space-between;
    
                    .icon{
                        display:inline-block;
                    }
    
                    .icon-smile{
                        background-image: url(/img/sprite.png);
                        background-position: -34px 0px;
                        width: 34px;
                        height:36px;
                    }
    
                    .icon-leaf{
                        background-image: url(/img/sprite.png);
                        background-position: 0px -37px;
                        width: 34px;
                        height:36px;
                    }
    
                    .icon-light{
                        background-image: url(/img/sprite.png);
                        background-position: 0px 0px;
                        width: 34px;
                        height:36px;
                    }
    
                    .icon-f{
                        background-image: url(/img/sprite.png);
                        background-position:-68px 0px;
                        width: 34px;
                        height:36px;
                    }
    
                    .icon-yena{
                        background-image: url(/img/sprite.png);
                        background-position: -34px -37px;
                        width: 34px;
                        height:36px;
                    }
                } 
            }
    
            .product-price{
                background-color: $white-bg;
                border:1px solid $border-def;
                display:flex;
                flex-direction: column;
                padding:20px 30px;
    
                .product-price-text{
                    display:flex;
                    justify-content: space-between;
                    padding:25px 0 ;
    
                    .price{
                        color:$red;
                        font-family: 'Roboto', sans-serif;
                        font-weight:500;
                        font-size:22px;
                    }
                }

                .product-price-buttons{
                    display: flex;
                    flex-direction: column;
    
                    .fas, .far{
                        margin-right:10px;
                    }
    
                    .product-price-butn{
                        color:$white;
                        margin-bottom:5px;
                        height:48px;
                        line-height:48px;
                    }
    
                    .green{
                        background-color: $green;
                    }
    
                    .blue{
                        background-color: $lgt-blue;
                    }
    
                    .dark{
                        background-color: $blue;
                    }
                }
            }
        }

        &.bottom{

            .author-portfolio{
                margin-right:300px;
            
                .author-portfolio-title{
                    height:58px;
                    background-color: $white-bg;
                    border:1px solid $border-def;
                    padding-left: 27px;
                    font-family: 'Roboto', sans-serif;
                    font-weight:500;
                    font-size: 16px;
                    line-height: 58px;
                    color:$def-color;
                    margin-bottom:15px;
                }
        
                .author-portfolio-cards{
                    display:flex;
                    flex-wrap: wrap;
                    margin:0 -15px;
                    justify-content: center;
    
                    .card{
                        min-width:270px;
                        border:none;
                        border-radius:0;
                        margin:15px;
        
                        img{
                            border-radius:0;
                            width:100px;
                            height:90px;
                            vertical-align:bottom;
                        }
                        
                        .card-body{
                            padding:11px 10px 8px;
        
                            .card-title{
                                font-family:'Roboto', sans-serif;
                                font-weight: 500;
                                font-size:14px;
                                color:$def-color;
                                margin-bottom:5px;
                                
                            }
            
                            .card-text{
                                font-family:'Roboto', sans-serif;
                                font-weight: 400;
                                font-size:12px;
                                color:$green;
                                margin-bottom:5px;
                            }
            
                            .price{
                                font-family:'Roboto', sans-serif;
                                font-weight: 700;
                                font-size:18px;
                                color:$def-color;
                            } 
                        } 
                    }
                    a .card{
                        margin:0;
                        border:1px solid $border-def;
                    }
                }
            } 
        }
    }
}

@media(max-width:1200px){
.middle-section.container-full .container-md.bottom .author-portfolio{
    margin-right:0px;
    }
}

@media(max-width:1100px){
    .middle-section.container-full .container-md .product-details .product-details-card .card .card-body .buttons{
        flex-direction: column;

        .more-buttons{
            margin-bottom:30px;
        }
    }

    .middle-section.container-full .container-md .sidebar .product-author .product-author-sprite .icon {
        margin:0 2px;
    }
}

@media(max-width:991px){

    .middle-section.container-full .container-md .product-details .product-details-card .card .card-body .buttons{

        .more-buttons{
            margin-bottom:30px;
            .butn-card{
                padding:0 20px;
            }
        }
    }

    .middle-section.container-full .container-md .product-details .product-details-tabs-items {
        
        height:100%;

        .wrap ul{
            height: 350px;
        } 
    }
}

@media(max-width: 800px){

    #product-details .header-light .container{
        flex-direction: row;
        .section-registr{
            margin:0 0 15px;
            .header-text{
                flex-direction: row;
            }
        }
    }
}

@media(max-width:767px){
    
    .middle-section.container-full .container-md .product-details .product-details-card .card .card-body .buttons{
        .more-buttons{
            flex-direction: column;
            align-items: center;

            .butn-card+.butn-card{
                margin-left:0;
            }
    
            .butn-card{
                margin-bottom:15px;
                width: 270px;
            }
        }

        .social-buttons{
            justify-content: center;
        }  
    }

    .middle-section.container-full .container-md .product-details .product-details-tabs .product-details-tabs-buttons ul li .product-details-butn{        
        font-size: 14px;         
    }  
}

@media(max-width:650px){

    #product-details .header-light .container {
        flex-direction: column;
        padding: 27px 20px 0 20px;
    
        .section-registr{
            margin:15px 0;
             .header-text{
                align-self: center;
                padding:0;
                margin-bottom:20px;
            }
    
            .header-simbols{
                flex-direction: column;
                .basket{
                    padding:0;
                    margin-bottom:10px;
                }
                .dropdown{
                    margin:0;
                }
            }
        }
    } 

    .container-md{
        flex-direction: column;
        align-items: center;
    }

    .middle-section.container-full .container-md .sidebar{
        margin-left:0px;

        > div{
            margin: 15px 0;
            width:270px;
        }
    } 
}