@import"../_variables";
@import"../_mixins";
@import"../_reset";


.container-full{
    width:100%;
    background-color: $site-bg;
    padding:125px 0 110px;
}

.title{
    @include default-title ();
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin:0 15px 60px;
}

.container-big{
    max-width: 1920px;
    margin: auto;
    margin-bottom:75px;
}

.tabs-buttons{
    @include flexible ();
    max-width: 650px;
    margin: auto;
    padding:0 15px;
}

.tabs ul{
    margin-bottom: 45px;
}

.tabs ul li{
    display: inline-flex;
    text-align: center;
}   

.ui-tabs-tab + .ui-tabs-tab{
    margin-left:5px;
} 

.butn{
    @include default-title ();
    display: inline-block;
    cursor: pointer;
    line-height: 38px;
    background-color: $white-bg;
    padding: 0px 21px;
    min-width: 70px;
    height: 38px;
}

.tabs ul li.ui-state-active .butn{
    color: $white;
    background-color: $red;
    box-shadow: 0px 3px 6px rgba(202,215,228,1);
}

.tabs-items{
    @include flexible ();
    max-width: 1920px;
    margin:auto;
    padding: 0 18px; 
}

.item-title{
    @include default-title ();
    font-size: 18px;
    margin-bottom:5px;
    text-align: left;
}

.item-subtitle{
    @include default-title ();
    color:$green;
    text-align: left;
}

.item-text, .item-rating{
    @include flexible ();
    justify-content: space-between;
    padding: 20px 30px 16px;
    border-bottom: 1px solid $border-lgt;
    border-left: 1px solid rgba(231, 236, 242, .8);
    border-right: 1px solid rgba(231, 236, 242, .8);
}

.item-name{
    @include flex-col;
}

.item-title, .item-subtitle{
    display:flex;
}

.item-rating{
    border-bottom:none;
    padding:18px 32px 22px;
}

a .item{
    display:block;
    margin:0;
}

.item{
    background-color: $white;
    box-shadow: 0px 2px 7px -5px rgba(205,214,222,.75);
    margin: 15px 12px;
    max-width:442px;
    max-height:410px;
    position:relative;
    flex: 1 0 22%;
    &:hover{
        box-shadow: 4px 13px 15px -5px rgba(205,214,222,.75);
    }
}

.item a img{
    vertical-align:bottom;
}

.item-price{
    @include default-title ();
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    @include flex-a-i-center ();
}

.item-rating-img{
    @include flex-a-i-center ();
}

.item-author{
    @include default-title ();
    margin-left:15px;
    color:$blue;
}

.rating-stars{
    @include flex-a-i-center ();
}

.fa-star{
    color:$star;
    font-size:12px;
    letter-spacing: 2px;
}

.rating-stars .rating-number-bracket:first-of-type{
    margin-left: 10px;
}

.rating-number{
    @include default-title ();
    text-align: right;
    margin-left:0px;
    font-weight: 400;
    font-size: 12px;
}

.rating-number-bracket{
    color:$breadcrumb;
}

.tabs-items > div {
    @include flexible ();
}

.buttons{
    @include flexible ();
    margin: auto;
}

.butn-lg{
    box-shadow: 0px 2px 4px rgba(205,214,222,.75);
    padding: 0px 33px;
    margin:0 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
    height:52px;
}

.label::before{
    content: "";
    position: absolute;
    left: 0px; 
    top: 0px; 
    width: 0;
	height: 0;
	border-top: 60px solid $green; 
	border-right: 60px solid transparent;	
}

.label-sign{
    position:absolute;
    font-size: 16px;
    color:$white;
    left:12px;
    top:12px;
}

@media(max-width:1440px){
    .item{
        flex: 1 0 30%;
    }
}

@media(max-width:1220px){
    .item{
        flex: 1 0 50%;
    }
}

@media(max-width:756px){
    .item{
        flex: 1 0 100%;
    }
}

@media(max-width:600px){
    .tabs .butn{
        padding:0 15px;
    }

    .tabs ul{
        text-align: center;
    }
    
    .tabs ul li{
        margin-bottom:25px;
        justify-content: space-around;
    }
}