@import"../_variables";
@import"../_mixins";
@import"../_reset";

@font-face{
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad\ Pro.otf'); 
    font-weight: normal;
    font-style: normal;
    }
    

.main-background {
    background-color: $site-bg;
    padding-bottom: 108px;
.container-main {
    @include container;
    height: 100%;
    .breadcrumb {
        background-color: $site-bg;
        height: 100px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        align-items: center;
        .breadcrumb-item {
            color: $breadcrumb;
            font-size: 15px;
            line-height: 40px;
        }
        .breadcrumb-item+.breadcrumb-item::before{
            content: "-";
            color: $green;
        }
        .breadcrumb-item.active {
        color: $def-color;
        font-weight: bold;
        }
    }
    }
    .main-item {
        background-color: $white;
        text-transform: capitalize;
        border: 1px solid $border-color;
        .upload-title {
            padding: 22px 34px;
            border-bottom: 1px solid $border-color;

        } 
        h1 {
        @include main-font;
        font-size: 24px;
        color: $def-color;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 23px;
        }
        .form-main {
            padding: 43px;
            margin-bottom: 28px;
            div {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 20px;
                line-height: 40px;
                .form-control {
                    max-width: 900px;
                    max-height: 40px;
                    border-radius: 0;
                    height: 100%;
                    padding: 10px 18px;
                    color: $md-grey;
                    background-color: $color-input;
                    border: 1px solid $border-img;
                    font-size: 15px;
                    color:$md-grey;
                    font-family: 'Myriad Pro', sans-serif;
                    &:focus {
                        box-shadow: none;
                    }                     
                }
                textarea {
                    resize: none;
                    max-height: none;
                }
                textarea.form-control {
                    max-height: none;
                }
                label {
                    @include main-font;
                    font-size: 15px;
                    font-weight: 500;
                    color: $color-label;
                    position: relative;
                    margin-bottom: 0px;
                    
                &:after {
                    content: "*";
                    color: $green;
                    @include main-font;
                    font-size: 24px;
                    position: absolute;
                    bottom: 6px;
                    right: -10px;
                }
               
            }
            input::placeholder {
                font-size: 15px;
                color: $md-grey;
            }
            .form-control-file {    
                background-color: $color-input;
                width: 900px;
                margin-bottom: 20px;
                padding: 7px 8px;
                border: 1px solid $border-img;
                border-radius: 0;
            }
            &:last-child {
                margin-bottom: 0px;
            }
                
        }
        }
        
    }

}

.form-main + .form-main {
    margin-bottom: 40px;
}



.set-price {
    .price-title {
            padding: 28px 34px 22px;
            border-bottom: 1px solid $border-color;
        h1 {
            @include main-font;
            font-size: 24px;
            color: $def-color;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 23px;
        }
    }
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-bottom: 0px;
        div {
        display: flex;
        align-items: flex-start; 
        justify-content: space-between;
        line-height: 40px;
        .form-control {
            max-width: 900px;
            max-height: 40px;
            border-radius: 0;
            height: 100%;
            padding: 9px 16px;
            color: $md-grey;
            background-color: $color-input;
            border: 1px solid $border-img;
            font-size: 15px;
            color:$md-grey;
            font-family: 'Myriad Pro', sans-serif;
            &:focus {
                box-shadow: none;
                } 
             
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .button-set-price {
        display: flex;
        max-width: 900px;
        margin-left: 19%;
        justify-content: flex-start;
        margin-bottom: 68px;
        .set-btn-submit {
            background-color: $dark-green;
            padding: 16px 40px 19px 36px;
            line-height: 15px;
            display: block;
            width: 124px;
            height: 46px;
            font-size: 15px;
            cursor: pointer;
            color: $white-text;
            @include main-font;   
        }
    }
       
}
 


.custom-file {
    display: flex;
    margin-bottom: 20px;
    height: 100%;

    .custom-file-input {
        width: 0%;
        position: absolute;
    }

.custom-file-label {
    max-width: 900px;
    width: 100%;
    position: relative;
    background-color: $color-input;
    border: 1px solid $border-img;
    border-radius: 0;
    
    h2 {
        font-size: 15px;
        border: 1px solid $border-color;
        max-width: 89px;
        max-height: 26px;
        height: 100%;
        width: 100%;
        background-color: $white;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 12px;
        color: $color-label;
        text-align: center;
        padding: 3px 11px 8px 13px;
    }
    
}
}


.main-background .main-item .form-main div label.custom-file-label:after {
    display: none ;
    content: "";

}

.main-background .main-item .form-main div label.custom-file-label h2:after {
    content: "No File Choosen"; 
    position: absolute;
    color: #444;
    left: 112px;
    @include main-font;  
    font-size: 12px;

}

@media(max-width:1200px){
    .main-background {
        .container-main {  
            .breadcrumb {
                padding-left: 10px;
            }
            .form-main {
                .form-control {
                    width: 80%;
                }
                .custom-file-label {
                    width: 80%;
                }
            }        
            .set-price {
                .button-set-price {
                    margin-left: 22.5%;                
                }
            }   
        }
    }
}
@media(max-width: 1024px){
    .main-background {
        .container-main {  
            .breadcrumb {
                padding-left: 20px;
            }                        
        }
    }
}    
@media(max-width:890px){
    .main-background {
        .container-main {  
            .breadcrumb {
                padding-left: 20px;
            }
            .form-main {
                .form-control {
                    width: 75%;
                }
                .custom-file-label {
                    width: 75%;
                }
            }        
            .set-price {
                .button-set-price {
                    margin-left: 27%;                
                }
            }   
        }
    }
}
@media(max-width: 768px){
    .main-background {
        .container-main {                          
            .set-price {
                .button-set-price {
                    margin-left: 28%;                   
                }
            }
        }
    }
}    
@media(max-width:690px){
    .main-background {
        .container-main {              
            .form-main {
                .form-control {
                    width: 70%;
                }
                .custom-file-label {
                    width: 70%;
                }
            }        
            .set-price {
                .button-set-price {
                    margin-left: 32%;                
                }
            }   
        }
    }
}
@media(max-width:580px){
    .main-background {
        .container-main {              
            .form-main {
                .form-control {
                    width: 65%;
                }
                .custom-file-label {
                    width: 65%;
                }
            }        
            .set-price {
                .button-set-price {
                    margin-left: 37%;                
                }
            }   
        }
    }
}
@media(max-width:510px){
    .main-background {
        .container-main {              
            .form-main {
                .form-control {
                    width: 58%;
                }
                .custom-file-label {
                    width: 58%;
                }
            }        
            .set-price {
                .button-set-price {
                    margin-left: 42%;                
                }
            }   
        }
    }
}
@media(max-width: 425px){
    .main-background {
        .container-main {              
            .form-main {
                div {
                flex-direction: column;
                }
                .form-control {
                    width: 100%;
                }
                .custom-file-label {
                    width: 100%;
                }
            }
            .set-price {
                .button-set-price {
                    margin: 0px 0px 68px;
                    justify-content: center;
                }
            }
        }
    }
    
}