@import"../_variables";
@import"../_mixins";
@import"../_reset";

.bg-dark{
    background-color: $def-color;
}

.why-choose.container-full{
    padding:125px 0 120px;

    .title{
        color:$white;
        margin:0 15px 90px;
    }

    .container-md{
        max-width: 1200px;
        margin:auto;
        display:flex;
        justify-content: center;
        padding:0 15px;

        .why-choose-items{
            display:inline-flex;
            justify-content:space-around;
            flex-wrap: wrap;
            max-width:1124px;

            .why-choose-item{
                display:flex;
                flex-direction: column;
                flex: 1 0 20%;
                max-width: 320px;
                margin:0 28px;

                .circle{
                    width:115px;
                    height:115px;
                    border-radius: 50%;
                    background-color: #b5b5b5;
                    margin:0 auto 35px;
                }

                .why-choose-subtitle{
                    @include default-title ();
                    font-size: 24px;
                    color:$white;
                    margin-bottom:30px;

                    a:hover{
                        color:$green;
                    }
                }

                .why-choose-text{
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    line-height: 24px;
                    color:#b0bec5;
                }
            }
        }
    }
}

@media(max-width:890px){
    .why-choose.container-full .container-md .why-choose-items .why-choose-item{
        flex: 0 1 46%;
        margin-bottom:50px;
    }
}