@import"../_variables";
@import"../_mixins";
@import"../_reset";

.bg-dark{
    background-color: $def-color;
}

.why-choose.container-full{
    padding:125px 0 120px;

    .title{
        color:$white;
        margin:0 15px 90px;
    }

    .container-md{
        max-width: 1200px;
        margin:auto;
        display:flex;
        justify-content: center;
        padding:0 15px;

        .items{
            display:inline-flex;
            justify-content:space-around;
            flex-wrap: wrap;
            max-width:1124px;

            .why-choose-item{
                display:flex;
                flex-direction: column;
                flex: 1 0 20%;
                max-width: 320px;
                margin:0 28px;

                .circle{
                    width:115px;
                    height:115px;
                    border-radius: 50%;
                    background-color: $circle;
                    background-image: url(/img/circle.png);
                    margin:0 auto 35px;
                }

                .why-choose-subtitle{
                    @include default-title ();
                    font-size: 24px;
                    color:$white;
                    margin-bottom:30px;
                }

                .why-choose-text{
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    line-height: 24px;
                    color:$breadcrumb;
                }
            }
            
            a .why-choose-item{
                margin:0;
                &:hover{
                    .why-choose-subtitle{
                        color:$green;
                    }
                    .circle{
                        background-color: $circle-bg;
                        background-image: url(/img/circle-hover.png);
                    }
                }
            }
        }
    }
}

@media(max-width:920px){
    .why-choose.container-full .container-md .items{
        flex-direction: column;
        align-items: center;
        .why-choose-item{
            margin-bottom:50px;
        }
    }
}