
$def-color:#263238;
$white:#fff;
$white-bg:#fff;
$white-text:#fff;
$green:#8bc34a;
$red: #e74c3c;
$blue: #546e7a;
$dark-green: #76ae36;
$site-bg:#f4f6f5;
$breadcrumb:#b0bec5;
$border-def:#dfdfdf;
$border-img:#dcdcdc;
$pale-grey:#90a4ae;
$price-range-bar:#37474f;
$price-range-num:#78909c;
$dark:#455a64;
$border-lgt:#e7ecf2;
$dots-bg:#e8e8e8;
$dots-border:#ccc;
$lgt-black:#222;
$md-grey:#707070;
$lgt-grey:#70838d;
$header-btn:#f5f5f5;
$header-icon:#a0a0a0;
$yellow:#fcb322;
$orange:#ef6c00;
$fb:#6370b6;
$twit:#64b5f6;
$ln:#4f71ce;
$pint:#d32f2f;
$sales:#a6b5bb;
$lgt-blue:#42a5f5;
$star:#ffa726;
$circle:#b5b5b5;
$circle-bg:#d4d4d4;
$modal-bs:#53951f;
$black:#000;
$blue: #546e7a;
$light-grey: #f4f6f5;
$grey: #a8a8a8;
$color-input: #f9f9f9;
$color-label: #444444;
$border-color: #d7d7d7;
$dropdown-text: #84b743;
$dropdown-border: #e0e0e0;
$dropdown-btn-green: #95c85a;
$dropdown-btn-red: #e85647;
$circle-border: #b8cce2;
$dropdown-main-border: #d6d6d6;

