
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

button {
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

*:focus {
  outline: none; }

input {
  padding: 0;
  margin: 0; }

.container-full {
  width: 100%;
  background-color: #f4f6f5;
  padding: 125px 0 110px; }

.title {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 60px; }

.container-big {
  max-width: 1920px;
  margin: auto;
  margin-bottom: 75px; }

.tabs-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto; }

.tabs ul {
  margin-bottom: 45px; }

.tabs ul li {
  display: inline-flex;
  text-align: center; }

.ui-tabs-tab + .ui-tabs-tab {
  margin-left: 5px; }

.btn {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  line-height: 38px;
  background-color: #fff;
  padding: 0px 21px;
  min-width: 70px;
  height: 38px; }

.tabs ul li.ui-state-active .btn {
  color: #fff;
  background-color: #e74c3c;
  box-shadow: 0px 3px 6px #cad7e4; }

.tabs-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: auto;
  padding: 0 18px; }

.item-title {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left; }

.item-subtitle {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #8bc34a;
  text-align: left; }

.item-text, .item-rating {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 32px 20px;
  border-bottom: 1px solid #e7ecf2; }

.item-rating {
  border-bottom: none;
  padding: 18px 32px 22px; }

.item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  margin: 15px 12px;
  max-width: 442px;
  position: relative;
  flex: 1 0 21%; }
  .item:hover {
    box-shadow: 0px 14px 16px rgba(205, 214, 222, 0.75); }

.item a img {
  vertical-align: bottom; }

.item-price {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center; }

.item-rating-img {
  display: flex;
  align-items: center; }

.img-text {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-left: 15px;
  color: #546e7a; }

.rating-stars {
  display: flex;
  align-items: center; }

.fa-star {
  color: #ffa726;
  font-size: 12px;
  letter-spacing: 2px; }

.rating-stars .rating-number-bracket:first-of-type {
  margin-left: 15px; }

.rating-number {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-align: right;
  margin-left: 0px;
  font-weight: 400;
  font-size: 12px; }

.rating-number-bracket {
  color: #b0bec5; }

.tabs-items > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto; }

.btn-lg {
  box-shadow: 0px 2px 4px rgba(205, 214, 222, 0.75);
  padding: 0px 33px;
  margin: 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 52px;
  height: 52px; }

.label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 60px solid #8bc34a;
  border-right: 60px solid transparent; }

.label-sign {
  position: absolute;
  font-size: 16px;
  color: #fff;
  left: 12px;
  top: 12px; }

@media (max-width: 1400px) {
  .item {
    flex: 1 0 29%;
    max-width: 390px; } }

@media (max-width: 1070px) {
  .item {
    flex: 1 0 45%;
    max-width: 320px; } }

@media (max-width: 720px) {
  .item-rating {
    flex-direction: column; }
  .item-rating-img {
    margin-bottom: 15px; }
  .rating-stars {
    align-self: flex-end; } }

@media (max-width: 600px) {
  .item {
    max-width: 268px; }
  .tabs ul {
    text-align: center; }
  .tabs ul li {
    width: 29%;
    margin-bottom: 25px;
    justify-content: center; }
  .item-text {
    flex-direction: column; }
  .item-name {
    margin-bottom: 15px; }
  .item-price {
    align-self: flex-end; } }

@media (max-width: 360px) {
  .btn-lg {
    margin-bottom: 25px; }
  .tabs .btn {
    padding: 0 5px; } }

